.large-card-container{
    margin-bottom: 60px !important;
}
.large-card-container.section{
    padding: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.large-card-container .large-card>div{
   display: flex;
   background-color: #ebebeb;
}

.large-card-container .large-card>div div{
    width: 50%;
}

.large-card-container .large-card>div div~div{
    padding: 40px;
}

.large-card-container .large-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}